<div class="social-group fog" ng-class="{in:socialIn}" ng-init="color = color || 'night'">
<!-- 	<ul class="list-inline">				
	 	<li>
     		<div facebook class="social-btn facebook text-center " data-url='http://google.com' data-shares='shares'>
     			<div class="contents">
     				<i class="fa fa-facebook fa-2x"></i>
     				<br/>
     				<p class="">{{ shares }}</p>
     			</div>
    	 	</div>
 		</li>

 

 		<li>
 			<div twitter class="social-btn twitter text-center " data-url='http://google.com' data-shares='shares'>
     			<div class="contents">
     				<i class="fa fa-twitter fa-2x"></i>
     				<br/>
     				<p class="">{{ none }}</p>
     			</div>
    	 	</div>
 		</li>

	</ul>
  -->

  
      <div class="col-xs-7">
        <div class="social-pad clearfix background {{color}} text-center">
            <div class="col-xs-4">
                <div fb-like></div>
            </div>
            <div class="col-xs-3">
                <div tweet="'Checkout guernicaSoftworks @ '"></div>
            </div>
            <div class="col-xs-2">
                <div google-plus></div>
            </div>
     
        </div>
    </div>

</div>