/*
Syntax error: File to import not found or unreadable: bootstrap.
              Load paths:
                /Users/guernica0131/Dropbox/Code/guernicaSoft/app/css/sass
                /Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets
                /Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass
                Compass::SpriteImporter
        on line 8 of /Users/guernica0131/Dropbox/Code/guernicaSoft/app/css/sass/screen.scss

Backtrace:
/Users/guernica0131/Dropbox/Code/guernicaSoft/app/css/sass/screen.scss:8
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/stack.rb:79:in `with_base'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/sass-3.3.5/lib/sass/engine.rb:274:in `render'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:16:in `render'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:166:in `block in compile'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/logger.rb:46:in `red'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:165:in `compile'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `each'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `block in run'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:126:in `run'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/guernica0131/.rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/forwardable.rb:183:in `compile'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:101:in `sass_modified'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:89:in `sass_callback'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/watch.rb:14:in `call'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/watch.rb:14:in `run_callback'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:69:in `block in listen_callback'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:66:in `each'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:66:in `listen_callback'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap.\A               Load paths:\A                 /Users/guernica0131/Dropbox/Code/guernicaSoft/app/css/sass\A                 /Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets\A                 /Users/guernica0131/.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass\A                 Compass::SpriteImporter\A         on line 8 of /Users/guernica0131/Dropbox/Code/guernicaSoft/app/css/sass/screen.scss"; }
