.background {

	&.black {
		background-color: $black;
	}

	&.blue {
		background-color: $blue;
	}

	&.red {
		background-color: $red;
	}

	&.night {
		background-color: $night;
	}

	&.base {
		background-color: $base;
	}

	&.gold {
		background-color: $gold;
	}

	&.contrast {
		background-color: $contrast;
	}

	&.gray {
		background-color: $gray;
	}

	&.white {
		background-color: $white;
	}

	&.rust {
		background-color: $rust;
	}


}

.color {

	&.black {
		color: $black;
	}

	&.blue {
		color: $blue;
	}

	&.red {
		color: $red;
	}

	&.night {
		color: $night;
	}

	&.base {
		color: $base;
	}

	&.gold {
		color: $gold;
	}

	&.contrast {
		color: $contrast;
	}

	&.gray {
		color: $gray;
	}

	&.white {
		color: $white;
	}

	&.rust {
		color: $rust;
	}
}
