.break-out {
    .contact-container {
         position: fixed;
    }    
}

.contact-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($night, 0.7);
    //background-image: $noise;
    z-index: 10;
    //	text-align: center;
    padding-bottom: 40px;
    //	margin: auto 0;
    overflow: auto;
    //display:block;
    .form-box {
        background-color: $contrast;
        position: relative;
        margin: 30px;
        padding: 30px;
        @include border-radius(5px);
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        form {
            padding-bottom: 25px;
        }
         .form-accent {
             &.bottom {
                 background-color: $base;
        //         bottom: 0;
        //         @include border-radius(0 0 5px 5px);
             }
            &.top {
                 background-color: $rust;
        //         top: 0;
        //         @include border-radius(5px 5px 0 0);
             }
        //     //z-index:  ;
        //     position: absolute;
        //     width: 100%;
        //     height: 10px;
        //     left: 0;
        //     //padding: 15px;
       
         }
        // .contact-form-spinner {
        //     text-align: center;
        //     padding: 50px 0 50px 0;
        //     i {
        //         font-size: 10em;
        //     }
        // }
        
    }
    	/* #interests {
    		width: 200px;
    	}
     */
}


.form-accent {
            &.bottom {
                background-color: $night;
                bottom: 0;
                @include border-radius(0 0 5px 5px);
            }
            &.top {
                background-color: $blue;
                top: 0;
                @include border-radius(5px 5px 0 0);
            }
            //z-index:  ;
            position: absolute;
            width: 100%;
            height: 10px;
            left: 0;
            //padding: 15px;
       
        }