.portal-view {
    width: 30%;
    height: 100%;
    @include respond-to(tablet) {
        width: 20%;
    }

    @include respond-to(reduced) {
        //width: 20%;
        display: none;
    }

    @include respond-to(handhelds) {
        //width: 20%;
        display: none;
    }

    //top:0;
    //left:0;
    //bottom:0;
    background-image: $noise;
    //background-color: red;
    //z-index: 10;
    position: absolute;
    overflow-y: auto;
    overflow-y: -moz-scrollbars-none;
    z-index: 1;
    padding-bottom: 40px;
    text-align: center;
}

.portals {
    list-style-type: none;
    margin-left: -40px;
    margin-bottom: 40px;
    //margin: auto 0;
    .portal {
        display: inline-block;
        width: 150px;
        height: 150px;
        position: relative;
        margin: 5px;
        //  padding: 5px;
        overflow: hidden;
        @include border-radius(5px);
        @include box-shadow(3px 3px 10px 0px rgba(0, 0, 0, 0.75));
        &:hover {
            //border: 3px solid $base;
            @include box-shadow(3px 3px 10px 2px rgba($base, 0.75));
            width: 155px;
            height: 155px;
            //padding: 0;
            margin: 2.5px;
            //margin-right: 10px;
            //margin-left: 10px;
            @include transition(width, height 300ms ease);
            //@include transition(height 300ms ease);
        }



        @include respond-to(less_than_tablet) {
            width: 95px;
            height: 95px;
            margin: 3px;
            //@include border-radius(0 5px 5px 0);
            &:hover {
                width: 95px;
                height: 95px;
                margin: 3px;
            }
        }

        // @include respond-to(reduced) {
        //     width: 85px;
        //     height: 85px;
        //     margin: 3px;
        //     &:hover {
        //         width: 88px;
        //         height: 88px;
        //         margin: 1.5px;
        //     }
        // }

        // @include respond-to(less_than_tablet) {
        //    // margin-bottom: 10px;

        // }

        &.active {
            //border: 3px solid $gold;
            @include box-shadow(3px 3px 10px 2px rgba($gold, 0.75));
        }
        .portal-container {
            background: $night;
            position: absolute;
            width: 100%;
            height: 100%;
            // @include respond-to(less_than_tablet) {
            //     //width: 20%;
            //     background: transparent;
            // }
            // @include respond-to(handhelds) {
            //     //width: 20%;
            //     background: transparent;
            // }
            .portal-frame {
                //  background-image: $noise;
                .p-block {
                    //background: red;
                    //z-index: 1;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    position: absolute;
                    background-image: $noise;
                    img {
                        //display: none;
                   
                    }
                }
                // .portal-text-small {
                //     display: block;
                //     position: relative;
                //     width: 100px;
                //     padding: 3px;
                //     @include border-radius(5px);
                //     height: 200px;

                // }

                .portal-text {
                    width: 100%;
                    bottom: 0px;
                    position: absolute;
                    text-align: center;
                    z-index: 1;
                    @include respond-to(less_than_tablet) {
                         //display: none;
                         //@extend .vertical;
                        // @include transform(rotate(270deg));
                        // @include border-radius(5px 0 0 5px);
                        // left:42.5;
                         //bottom:22.1px;
                        // height: 100%;
                         //width: 100%;

                        // @include opacity(0.7);

                           // text-overflow: ellipsis;

                         p {
                            font-size: 0.8em;
                            padding:0;
                         }
                    }

                    //@include border-radius(0);
                    //background-color: $gray;
                    p {
                        padding: 5px;
                        margin: 0;
                        color: $white;
                        // @include respond-to(tablet) {
                        //     padding: 2px;
                        // }

                        // @include respond-to(reduced) {
                        //     padding: 2px;
                        // }
                    }
                }
            }
        }
    }
}