.fill { // not used
	 min-width:100%;
	 min-height:100%;
	// position:absolute;
	 width: auto; 
	 height: auto;
	// background:green;
	 position: absolute;
	//top: 0;
	//bottom: 0;
}

.pad-70 {
	padding-top: 70px;
}

.fog {
	@include opacity(0);
	&.in {
		@include opacity(1);
		@include transition(opacity 300ms ease-in);
	}

}