::-webkit-scrollbar { 
    display: none; 
}


a {
	color: $white !important;

	&:hover {
		color: $red !important;
	}
}

.fill { // not used
	 min-width:100%;
	 min-height:100%;
	// position:absolute;
	 width: auto; 
	 height: auto;
	// background:green;
	 position: absolute;
	//top: 0;
	//bottom: 0;
}

.pad-70 {
	padding-top: 70px;
}

.fog {
	@include opacity(0);
	@include transition(opacity 500ms ease-in-out);
//	display: none;
	&.in {
		//display: block;
		@include opacity(1);
//	display: block;
	}

}

.none {
	display:none;
}

.block {
	display: block;
}

.glyphicon-ok {
	color: $base !important;
}



.btn {
	&.btn-primary {
		@include button-color($contrast, white);
	}

	&.btn-success {
		@include button-color($base, white);
	}

	&.btn-info {
		@include button-color($blue, white);
	}

	&.btn-warning {
		@include button-color($gold, white);
	}

	&.btn-danger {
		@include button-color($red, white);
	}




}

