// @import url(http://fonts.googleapis.com/css?family=Droid+Sans);

// @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

// @import url(http://fonts.googleapis.com/css?family=Oswald);

// @import url(http://fonts.googleapis.com/css?family=Oswald);

body {
    //font-family: 'Open Sans Condensed', sans-serif;
    //font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    //font-family: 'Droid Sans', sans-serif;
    // font-family: 'Oswald', sans-serif;
}

::selection {
  background: $red; /* WebKit/Blink Browsers */
  color: $white;
}
::-moz-selection {
  background: $red; /* Gecko Browsers */
  color: $white;
}

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: $white !important;
    &:hover {
        color: $red !important;
    }
}

.vertical {
    @include transform(rotate(270deg));
}

.raise {
    min-height: 100%;
}

.fill-extra {
    // not used
    min-width: 110%;
    min-height: 110%;
    // position:absolute;
    width: auto;
    height: auto;
    // background:green;
    position: absolute;
    //top: 0;
    //bottom: 0;
}

.fill {
    // not used
    min-width: 100%;
    min-height: 100%;
    // position:absolute;
    width: auto;
    height: auto;
    // background:green;
    position: absolute;
    //top: 0;
    //bottom: 0;
}

.pad-70 {
    padding-top: 70px;
}

.pad-40 {
    padding-top: 40px;
}

.pad-20 {
    padding-top: 20px;
}

.pad-5 {
    padding-top: 5px;
}

.overcast {
    @include opacity(1);
    @include transition(opacity 1500ms ease-in-out);
    //  display: none;
    &.out {
        //display: block;
        @include opacity(0);
        //  display: block;
        &.hazzy {
            @include opacity(0.3);
        }
    }
}

.fog {
    @include opacity(0);
    @include transition(opacity 500ms ease-in-out);
    //  display: none;
    &.in {
        //display: block;
        @include opacity(1);
        //  display: block;
   
    }
}

.cover-background {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}

.fixed-row-background {
    background-repeat: no-repeat !important;
    background-position: 50% 0 !important;
    //    display: none !important;
    //background-size: cover !important;
    background-attachment: fixed  !important;
}

.close-btn {
    cursor: pointer;
    width: 40px;
    height: 60px;
    z-index: 3;
    //border: 1px solid $red;
    //@include border-radius(5px);
    position: absolute;
    top: 5px;
    right: 5px;
    color: $red;
    font-size: 3em;
    //background-color: green;
    &:hover {
        //  border-color: adjust-lightness($red, 3);
        color: adjust-lightness($red, 7);
    }

    &.tile {
        //top: 50px;
        color: $white;
         &:hover {
        //  border-color: adjust-lightness($red, 3);
        color: adjust-lightness($night, 7);
    }
    }
}

// textarea, input {
//     &:focus {
//         border-color: $red;
//     } 
// }

.none {
    display: none;
}

.block {
    display: block;
}

.glyphicon-ok {
    color: $base !important;
}

.btn {
    // &.btn-primary {
    //     @include button-color($contrast, white);
    // }
    // &.btn-success {
    //     @include button-color($base, white);
    // }
    // &.btn-info {
    //     @include button-color($blue, white);
    // }
    // &.btn-warning {
    //     @include button-color($gold, white);
    // }
    // &.btn-danger {
    //     @include button-color($red, white);
    // }
    // &.btn-default {
    //     @include button-color($white, $night);
    // }
}