.video-roll {
    video.bgvid {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        //z-index: 10;
        background-size: cover;
    }

   
}

 .overlay {
        //background: url('../../images/video-overlay.png');
        background: rgba($night, 0.4);
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
    }