<nav class="navbar navbar-default navbar-gsoft navbar-fixed-bottom curtain curtain-bottom closed hidden-sm hidden-xs"  ng-class="{opened: drawCurtains}" role="navigation">
  <div class="container-fluid">
  	
  	<ul class="nav navbar-nav" ng-show="windowOpened">
  		<li class="nav-button legal"><a href="collections?portal=terms" ng-click="obscure(false)">Terms &amp; Conditions</a></li>
  		<li class="nav-button legal"><a href="collections?portal=privacy" ng-click="obscure(false)">Privacy</a></li>
  		<!-- <li class="nav-button legal"><a href="/#collections?portal=team">The Team</a></li> -->
  		<li class="nav-button legal"><a href="collections?portal=jobs" ng-click="obscure(false)">Jobs</a></li>


      <!-- <li class="nav-button legal"><a href="contributors?portal=meredith" ng-click="obscure(false)">Contributors</a></li> -->
  	</ul>


  	<ul class="nav navbar-nav navbar-right" ng-show="windowOpened">
  		  <li class="nav-button social-button"><a href="https://www.facebook.com/guernicasoftworks/" target="_blank"><i class="social-icons fa fa-facebook-square fa-2x"></i></a></li>
      <li class="nav-button social-button"><a href="https://github.com/guernica0131/" target="_blank"><i class="social-icons fa fa-github-square fa-2x"></i></a></li>
      <li class="nav-button social-button"><a href="https://plus.google.com/u/1/103340254667271414115/posts/p/pub" target="_blank"><i class="social-icons fa fa-google-plus-square fa-2x"></i></a></li>
    
      <!-- <li class="nav-button social-button"><a href="" target="_blank"><i class="social-icons fa fa-instagram fa-2x"></i></a></li>
      <li class="nav-button social-button"><a href="" target="_blank"><i class="social-icons fa fa-pinterest fa-2x"></i></a></li> -->
      <li class="nav-button social-button"><a href="https://twitter.com/guernicaSoft" target="_blank"><i class="social-icons fa fa-twitter fa-2x"></i></a></li>
  	</ul>
    
  </div>
</nav>


<nav class="navbar navbar-default navbar-gsoft  navbar-fixed-bottom  visible-sm visible-xs " id="nav-mini"  ng-class="{opened: drawCurtains}" role="navigation">
  <div class="container-fluid">
  
    <ul class="mini-nav-ul" ng-show="windowOpened">
      <li class="nav-button social-button"><a href="https://www.facebook.com/guernicasoftworks/" target="_blank"><i class="social-icons fa fa-facebook-square fa-2x"></i></a></li>
      <li class="nav-button social-button"><a href="https://github.com/guernica0131/" target="_blank"><i class="social-icons fa fa-github-square fa-2x"></i></a></li>
      <li class="nav-button social-button"><a href="https://plus.google.com/u/1/103340254667271414115/posts/p/pub" target="_blank"><i class="social-icons fa fa-google-plus-square fa-2x"></i></a></li>
    
      <!-- <li class="nav-button social-button"><a href="" target="_blank"><i class="social-icons fa fa-instagram fa-2x"></i></a></li>
      <li class="nav-button social-button"><a href="" target="_blank"><i class="social-icons fa fa-pinterest fa-2x"></i></a></li> -->
      <li class="nav-button social-button"><a href="https://twitter.com/guernicaSoft" target="_blank"><i class="social-icons fa fa-twitter fa-2x"></i></a></li>
    </ul>
    
  </div>
</nav>