<!--div class="spin-contents-parent-relative" ng-init="color = color || 'gold'">
	<div class="spin-contents ">
		<div class="spinner" ng-class="{'small':small}"></div>
	</div>
	<span class="spin-title color {{color}}" ng-hide="small">
	We are processing your request...
	</span>
</div-->

<!--div class="spin-contain" ng-init="color = color || 'gold'">
	

	<svg class="spinner-micro" ng-class="{'small': small}" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   		<circle class="spin-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
	</svg>

	<div class="spin-title color {{color}}" ng-hide="small">
		&nbsp;&nbsp;We are processing your request...
	</div>
</div-->

<!--div class="box-spin-parent"  ng-init="color = color || 'gold'">
<div class="spinner-box" ng-class="{'fix': small}"></div>
<div class="spin-title color {{color}}" ng-hide="small">
	&nbsp;&nbsp;We are processing your request...
</div>

</div-->

<!-- <div class="spin-contents-parent" ng-init="color = color || 'gold'">
	<div class="spin-contents">
		<div class="spinner"></div>
	</div>
	<div class="load-slogan color {{color}}" ng-hide="{'small': small }">
		guernica Softworks is loading...
	</div>
</div> -->
<div ng-init="color = color || 'gold'; spinColor = spinColor  || 'blue'">
	<div ng-show="small">
		<i class="fa fa-spinner fa-spin fa-2x color white"></i>
	</div>

	<div ng-hide="small">
		<span class="color {{color}}">We are processing your request...<i class="fa fa-spinner fa-spin fa-5x big-spinner color {{spinColor}}"></i></span>
	</div>
</div>

