<div class="fog" ng-class="{in:drawcontent}">
	<!-- header image for the page -->
	<!--div class="pad-70 color white"></div-->
	<div class="head-image" style="background: url( {{  images('HEAD', head.image) }} ) 50% 0 no-repeat fixed ;">
		<div class="head-curtain background-rgba {{head.curtain}}"></div>
		<div class="head-content">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="color {{head.text.color}}">{{head.text.content}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- div class="pad-70 color white"></div -->
	<div class="container" ng-repeat="portal in portals">
			
			<div id="{{portal.portal}}" class="row">
				<div class="col-md-8">
					<h1 class="color {{portal.css.text.header}}">{{portal.title}}<small class="lead color {{portal.css.text.lead}}"> {{portal.lead}}</small></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 text color {{portal.css.text.p}}" ng-class="{'pull-right':portal.css.right}">{{portal.body.text}}</div>
				<div class="col-md-4 images"></div>
			</div>				
	</div>
</div>