<div id="tiles" class="background " in-view="spreadTiles()">

  
    <ul class="list-inline">
      <li class="" ng-repeat="tile in tiles">
        <div class="tile-container background {{tile.color}}" ng-class="{spread:spread, overwhelm: viewSwitch[tile.id]}" ng-click="revealTile(tile.id)" >
          
          <div class="blinder" style="background: {{teaseTile(tile.id)}}">
            <h5 class="title lead color {{tile.tcolor}}">{{tile.teaser}}</h5>
          </div>

          <div class="tile-body">

            <div class="tile-face">
              <h3 class="lead color white">{{tile.title}}</h3>
            </div>
            <div class="tile-content" ng-show="viewSwitch[tile.id]">
              
              <!--div class="close-btn tile" ng-click="closeTile(tile.id)">X</div-->
                <div class="container">
                  <div class="row fog" ng-class="{in: renderText}" >
                     <div class="col-md-2"></div>
                    <div class="col-md-8">
                      <p class="color white">{{tile.story}}</p>
                      <h6 class="color white text-right">Tap tile to close...</h6>
                    </div>
                  </div>
                </div>
            </div>

          </div> 
        
        </div> <!-- end tile content -->

      </li> <!-- end li -->
  
    </ul> <!-- end ul -->


</div>