<div class="fill fog cover-background" ng-class="{in:loadpage}" image-background='{"request": "BODY", "name": "{{backgroundImage}}"}'>
	<div class="fill background night overcast hazzy" ng-class="{out:fadeinbackground}" ></div>
	<div class="page-view fog" ng-class="{in:loadcontainer}">
		<div class="pad-70"></div>
		<div id="client-page">
			<div class="container">
				
				<div class="login-form background white">
					<div ng-show="viewSwitch.form">
						<div class="row">
							<!--div class="col-md-3"></div-->
							<div class="col-md-12">
								<div class="page-header">
									<h1>Already a client?<small> please login...</small></h1>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
							<forms-page></forms-page>
						</div>
					</div>
				</div>
				<div ng-show="viewSwitch.processing">
					<div class="row">
						<!--div class="col-md-3"></div-->
						<div class="col-md-12">
							<div class="page-header">
								<h1>Logging in...<small> please wait</small></h1>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div ng-include src="'partials/spinner.html'" ng-init="color = 'night'"></div>
						</div>
						<!--div class="col-md-4"></div-->
						<!--div class="col-md-12">
							<div class="contact-form-spinner"><span class="color contrast">We are processing your request...</span><i class="fa fa-spinner fa-spin fa-5x color blue"></i></div>
					</div-->
				</div>
				</div>

				<div class="confirmation" ng-show="viewSwitch.error">
					<div class="row">
						<div class="col-md-12">
							<h1 class="color night">I'm sorry <i class="fa fa-frown-o"></i></h1>
							<p class="lead color night"><small>I've encountered some type of problem. Please try your request later. We are deeply sorry for any inconvenience.<br/><br/>Sincerely,<br/>The gS team</small></p>
						</div>
					</div>
				</div>

			<div class="row">
				<!--div class="col-md-3"></div-->
				<div class="col-md-12">
					<h4 class="color {{message.color}}"><small>{{message.text}}</small></h4>
				</div>
			</div>
			<div class="form-accent top"></div>
			<div class="form-accent bottom"></div>
		</div>
		<div class="pad-70"></div>
	</div>
</div>
</div>
</div>