<nav class="navbar navbar-default navbar-gsoft navbar-fixed-top curtain curtain-top closed" ng-class="{opened: drawCurtains}" role="navigation"> <!-- ng-controller="navbarCtrl"> -->
<div class="container-fluid">
  
  <!--div class="navbar-header">
  
</div -->
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle nav-collapse  nav-button-tog" data-toggle="collapse" data-target="#nav-head">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <div class="brand-img">
    <a href="/#" ng-click="navigating(false);obscure(false)" class="navbar-brand nav-button home"></a>
  </div>
</div>
<ul class="nav navbar-nav">
  <li id="nav-spinner" class="nav-button" ng-show="navbar.thinking"> 
    <!--i class="fa fa-spinner fa-spin fa-2x color white"></i-->
     <div ng-include src="'partials/spinner.html'" ng-init="small = true"></div>
  </li>
</ul>
<div class="collapse navbar-collapse" id="nav-head">
  <ul class="nav navbar-nav  navbar-right reduce-gap" ng-show="windowOpened" >
    <li ng-repeat="button in buttons" class="nav-button background {{button.cssClass}}" ng-class="{selected: isActive(button.url), lighten:isActive('/clients')}">
      <a ng-href="/#{{button.url}}" ng-click="navigating(isActive(button.url));obscure(isActive(button.url))">{{button.name}}</a>
    </li>
  </ul>
</div>
</div>
</nav>